<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>ABOUT ME</h2>
<div class="summary">
    <p>I am a fourth year computer science student. I currently spend my free time working on bitcoin related projects or helping test out or contribute to open source bitcoin projects. I have spent time going over joinmarket's code, testing out the lightning network, lnd's implementation, and finding bugs. Overall I enjoy contributing to anything bitcoin related and hope to work in this or a related field after I graduate.</p>
</div><!--//summary-->
</section><!--//section-->
