<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MIT DCI Cryptocurency Bootcamp</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">MIT DCI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I spent a week at MIT meeting other prospective bitcoin developers. We went over all the basics underpinning bitcoin and created a bitcoin related project/hackathon in groups. My group created a verifiable lottery using 21's bitcoin library.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Technician</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CSUSB</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Coordinates with the lead technicians to provide hardware, network and software support for Professors and Faculty in the College of Social &amp; Behavioral Sciences</p>
                        <p>Deploy and upgrade computers for the college as well as diagnosing and fixing technical problem</p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->
