<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are a list of projects I've worked on and/or contributing to.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://blog.bitrefill.com/announcing-real-money-lightning-payments-5c96edd02041">Lightning Integration @ Bitrefill</a></span> - <span class="project-tagline">Developed and launched the first lightning integration into a merchant service available to users on bitcoin's mainnet</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.turing-cloud.com/bitcoin">BitBounce</a></span> - <span class="project-tagline">Hackathon project integrating bitcoin payments in order to solve email spam. I helped contribute all the bitcoin back end code examples to integrate turing with coinbase during this hackathon</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.bitrefill.com/thor-lightning-network-channels/?hl=en">Lightning Services - Thor</a></span> - <span class="project-tagline">Helped build and integrate the first lightning services @ bitrefill, providing channel capacity and other services on top of the lightning network</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.twitter.com/softforks">Softfork Stats</a></span> -
                    <span class="project-tagline">I created a twitter bot that tweets out softfork signaling stats from my local bitcoin, litecoin, and vertcoin node. I manually parse all data from my nodes from the past x blocks and compute the signaling stats. It tweets changes of relevance in signalling adoption for softforks, currently with segwit</span>
                </div><!--//item-->
</section><!--//section-->
