<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">C++</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="36%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">ReactJS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="39%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Bitcoin</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->
